
.post {
	width: 410px;
}

.image {
	margin-bottom: 31px;
	width: 420px;
}

.category {
	color: #b4ad9e;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}

.name {
	color: #626262;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 34px;
  margin-top: 28px;
  word-wrap: break-word;
}

.content {
	color: #626262;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
  margin-bottom: 52px;
  /* border: 1px solid red; */
  word-wrap: break-word;
  max-height: 140px;
  overflow: hidden;
}

.more {
	font-weight: bolder;
	font-size: 16px;
	display: block;
	cursor: pointer;
	/* float: right; */
	margin-top: 20px;
	margin-right: 20px;
}

.news {
	height: 214px;
	background-color: #f0f0f0;
	padding-top: 73px;
	margin-bottom: 100px;
	position: relative;
	width: 100%;
	/*overflow: hidden;*/
}

.news.before, .news:after {
	
}

.news:before {
	content: '';
	position: absolute;
	background-color: #f0f0f0;
	top: 0;
	bottom: 0;
	width: 9999px;
	right: 100%;
	/*overflow: hidden;*/
}

.news:after {
	content: '';
	position: absolute;
	background-color: #f0f0f0;
	top: 0;
	bottom: 0;
	width: 9999px;
	left: 100%;
	/*overflow: hidden;*/
}


.news h2 {
	color: #333333;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 0.75px;
}

.news form {
	margin: 0 auto;
	text-align: center;
}

.news input {
	border: 0;
	width: 349px;
	height: 40px;
	background-color: #f0f0f0;
	font-size: 14px;
	font-family: "Playfair Display";
	line-height: 24px;
	outline: none;
	border-bottom: 2px solid #000000;
	padding-left: 3px;
	padding-right: 50px;
	margin-top: 60px;
}

.news input::placeholder { 
	color: #626262;
	font-size: 14px;
	line-height: 24px;
}

.news button {
	background-color: #f0f0f0;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-left: -38px;
}